body {
	margin: 0;
	background: url(../images/Fond.png);
	background-repeat: no-repeat;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
width: 100%;
background: url(../images/Bande.png);
}

footer {
    width: 100%;
    background: url(../images/Bande.png);
}

main {
    flex: 1;
}

.etna
{
      color: white;
      font-size: 65px;
      align-content: center;;
}

.image
{
      float:left;
    width: 125px;
    height: auto;
}

.cart
{
    top: 5px;
    right: 10px;
}

.pop
{
    top: 5px;
    left: 5%;
}

.signin
{
  position: absolute;
    top: 25px;
    right: 0;
}

.manga
{
    position: absolute;
    top: 25px;
    left: 50px;
}

.blu-ray
{
    position: absolute;
    top: 45px;
    right: 10px;
}