body {
	margin: 0;
	background: url(../images/Fond.png);
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
width: 100%;
background: url(../images/Bande.png);
}

footer {
    width: 100%;
    background: url(../images/Bande.png);
}

main {
    flex: 1;
}

.etna
{
  position: initial;
      color: white;
      font-size: 65px;
      margin-left: 30%;
}

.image
{
  float: left;
    width: 125px;
    height: auto;
}

.myhero
{
    width:40%;
    height: auto;
    border-radius: 50px;
    box-shadow: 0 -5px 10px -2px #333;
}

.cart
{
  position: initial;
    top: 5px;
    right: 10px;
}

.pop1
{
  position: absolute;
  top: 25px;
  left: 150px;
}
.pop
{
  position: absolute;
  top: 52%;
  left: 35%;
  width:6%
}


.signin
{
  position: initial;
    top: 25px;
    right: 0;
}

.manga
{
  position: absolute;
    top: 35%;
    left: 35%;
    width:4%;
}

.blu-ray
{
  position: absolute;
    top: 65%;
    left: 35%;
    width: 4%;
}

.search
{
  margin-top: 80%;
  margin-right: 2%;
}