.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
width: 100%;
background: url(../assets/images/Bande.png);
}

footer {
    width: 100%;
    background: url(../assets/images/Bande.png);
}

main {
    flex: 1;
}