body
{
      width :100%;
      margin: 0;
      background: url("../images/Fond.png");
      background-repeat: no-repeat;
}

#global
{
      width :100% ;
      margin :auto ;
}

header
{
  position: fixed;
      margin: 0% 0%;
      width :100% ;
      background:url("../images/Bande.png");
}

.signin
{
    margin-right: 5%;
    margin-top: 10px;
    height: 40px;
    float:right;
}

.cart
{
    margin-right: 5%;
    height: 40px;
    float:right;
}

.etna
{
      color: white;
      font-size: 4vw;
}

.image
{
      float:left;
    width: 6.8%;
    height: auto;
}

.pop
{
    position: absolute;
    margin-left: 5%;
    margin-top: 10px;
    height: 40px;
    float: left;
}

#menu-gauche
{
      width: 22%;
      float :left ;
}

.kuroko
{
    position:absolute;
    margin:380px 0px;
    width:490px;
    height:255px;
    border-radius: 50px;
    box-shadow: 0 -5px 10px -2px #333;
}

#blanc
{
      width: 3%;
      float: left;
}

#contenu
{     
      text-align: center;
      width :50% ;
      float :left ;
}

.myhero
{
    width:87.2%;
    height:47.5%;
    border-radius: 50px;
    box-shadow: 0 -5px 10px -2px #333;
}

#sidebar-droite
{
      text-align: right;
      width :22% ;
      float: left; 
}

.shigatsu
{
    position:absolute;
    margin:380px 1359px;
    width:490px;
    height:255px;
    border-radius: 50px;
    box-shadow: 0 -5px 10px -2px #333;
}

footer
{
      position: fixed;
      left: 0;
      bottom: 0;
      width :100%;
      background:url("../images/Bande.png");
      text-align: center;
}

.cb 
{
    position:absolute;
    margin:919px 45px;
    width:113px;
    height:40px;
}

.secured
{
    position:absolute;
    margin:920px 180px;
    width:100px;
    height:43px;
}
