body
{
    width: 100%;
}

#global
{
    width: 80%;
    margin: auto;
    padding: 25px;
    background-color: blue;
}

header
{
    width: 100%;
}

#contenu-gauche
{
    width: 25%;
    float :left;
}

#contenu
{
    width: 50%;
    float: left;
}

#contenu-droite
{
    width: 25%;
    float: right;
}

footer
{
    width: 100%;
}