body
{
      width :100% ;
      background-image: url();
}

#global
{
      width :100% ;
      margin :auto ;

}

header
{
      width :100% ;
}

#menu-gauche
{
      width :20% ;
      float :left ;
}

#contenu
{
     width :60% ;
      float :left ;
}

#sidebar-droite
{
      width :20% ;
      float :right ;
} 

footer
{
      width :100%
}