body
{
      width :100% ;
      height: 100px;
      background: url("../images/Fond.png") no-repeat;
}

#global
{
      width :100% ;
      margin :auto ;

}

header
{
      width :100% ;
      background:url("../images/Bande.png");
}

.image {
    position:absolute;
    margin:0px 5px;
    width: 80px;
    height:60px;
}

#menu-gauche
{
      width :20% ;
      float :left ;
}

#contenu
{
     width :60% ;
      float :left ;
}

#sidebar-droite
{
      width :20% ;
      float : ;
} 

footer
{
      width :100%;
      background:url("../images/Bande.png") no-repeat;
}