<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../assets/styles/style.css" type="text/css">
	<meta charset="utf-8">
	<title>Description produit</title>
</head>

<body>
<div class="wrapper">
    <header>
      <main>
    <form action="test.php">
      <input class="image" type="image" src="../assets/images/accueilbutton.png">
    </form>
    <div class="etna" style="margin-left: 35%"> ETNA MANGA </div>
    <form action="partials/pop.php">
      <div class="pop1">
        <input type="submit" value="  Figurine Pop   " style="position: initial; top: 50px; left: 150px;">
      </div>
    </form>
    <form action="partials/manga.php" method="POST">
      <div class="achat2">
        <input type="submit" value="  Manga   " name="1" style="position: fixed; top: 50px; left: 280px;">
      </div>
    </form>
    <form action="partials/blu-ray.php">
      <div class="achat3">
        <input type="submit" value="  Blu-ray   " style="position: fixed; top: 50px; left: 380px;">
      </div>
    </form>
  </header>



	DESCRIPTION

<?php 
$db = new PDO ('mysql:host=localhost;dbname=etnamanga_vy_t', 'root', 'salutlesbro');
$test = $db->prepare('SELECT * FROM Produits WHERE ID = 2 ');
    $test->execute();
$results = $test->fetchALL();
	?>
	<table border="1" bgcolor="lightgray">
	<tr>
		<td>ID du produit</td>
		<td>Libelle</td>
		<td>Description</td>
		<td>Prix de vente</td>
		<td>Nombre de produit</td>
	</tr>
	<?php
	foreach ($results as $key) {
		?>
		<tr>
		<td>
		<?php
	echo $key['ID'];?></td>
	<td><?php
	echo $key['Libelle'];?></td>
	<td><?php
	echo $key['Description'];?></td>
	<td><?php
	echo $key['Prix_vente'] . " $";?></td>
	<td><?php
	echo $key['Nombres_produit'];?></td>
	</tr>
	</table>
<?php	
}
?>
</div>
</main>
<footer><br></footer>
</body>
</html>